body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.cv-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cv-list {
    list-style-type: none;
    padding: 0;
}

.cv-item {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    transition: background-color 0.3s ease;
}

.cv-item:hover {
    background-color: #f9f9f9;
}

.details {
    display: none;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.cv-item input[type="checkbox"] {
    margin-right: 10px;
}

.cv-item:hover .details {
    display: block;
}

