body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    justify-content: space-between; /* Рівномірний розподіл простору між елементами */
    align-items: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2ecc71;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}




/*!* template.css *!*/

/*body {*/
/*    font-family: Arial, sans-serif;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    background-color: #f0f0f0;*/
/*}*/

/*#header {*/
/*    background-color: #333;*/
/*    color: #fff;*/
/*    padding: 20px;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

/*#header h1 {*/
/*    margin: 0;*/
/*}*/

/*#footer {*/
/*    background-color: #333;*/
/*    color: #fff;*/
/*    padding: 10px 0;*/
/*    text-align: center;*/
/*}*/

/*.button {*/
/*    background-color: #4CAF50;*/
/*    border: none;*/
/*    color: white;*/
/*    padding: 10px 20px;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    display: inline-block;*/
/*    font-size: 16px;*/
/*    margin: 4px 2px;*/
/*    cursor: pointer;*/
/*    border-radius: 4px;*/
/*}*/

/*#logout-button {*/
/*    background-color: #f44336;*/
/*    color: white;*/
/*    border: none;*/
/*    padding: 10px 20px;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    display: inline-block;*/
/*    font-size: 16px;*/
/*    margin-right: 20px;*/
/*    cursor: pointer;*/
/*    border-radius: 4px;*/
/*}*/

/*#menu {*/
/*    width: 100%; !* Розтягнемо меню на всю ширину *!*/
/*    background-color: #f4f4f4;*/
/*    padding: 10px 20px;*/
/*}*/
/*#menu ul {*/
/*    list-style-type: none;*/
/*    padding: 0;*/
/*}*/

/*#menu ul li {*/
/*    display: inline-block;*/
/*    margin-right: 10px;*/
/*}*/

/*#menu ul li a {*/
/*    display: block;*/
/*    padding: 10px 20px;*/
/*    color: white; !* Колір тексту посилань *!*/
/*    text-decoration: none;*/
/*    border: 1px solid #fff; !* Рамка навколо посилань *!*/
/*    border-radius: 5px; !* Округлені кути *!*/
/*}*/

/*#menu ul li a:hover {*/
/*    background-color: #333; !* Колір фону при наведенні *!*/
/*}*/
/*#wrapper {*/
/*    display: flex;*/
/*}*/


/*.rectangle {*/
/*    border: 2px solid #333;*/
/*    border-radius: 10px;*/
/*    margin: 10px;*/
/*    display: inline-block; !* Щоб прямокутники не перехрещувалися *!*/
/*}*/

/*.rectangle a {*/
/*    display: block;*/
/*    padding: 10px 20px;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    color: #333;*/
/*}*/

/*.it { background-color: #4CAF50; }*/
/*.marketing { background-color: #FFC107; }*/
/*.finance { background-color: #2196F3; }*/
/*.cv { background-color: #E91E63; }*/
